@page
@model WebApplication1.Pages.BootRecipientsModel
@{
    BootRecipientsModel[] bootWinner = new BootRecipientsModel[6];
    bootWinner[0] = new BootRecipientsModel { Name = "Grant Luther", Course = "Tournament Club of Iowa", Year = 2018 };
    bootWinner[1] = new BootRecipientsModel { Name = "Grant Luther", Course = "Amana Colonies Golf Club", Year = 2019 };
    bootWinner[2] = new BootRecipientsModel { Name = "Grant Luther", Course = "Whitebirch at Breezy Point", Year = 2020 };
    bootWinner[3] = new BootRecipientsModel { Name = "Grant Luther", Course = "Quarry Oaks Golf Club", Year = 2021 };
    bootWinner[4] = new BootRecipientsModel { Name = "Derrick Wiley", Course = "Raven Golf Club", Year = 2022 };
}

@* NOTES
   -
*@

<div class="bootWinners">

    <h1 class="bootHeader">Boot Winners</h1>
    <p class="preBoot">
        *pre boot trophy winners: 2013 - Ryan Biegger | 2014 - Jordan Stotts |
        2015 - Jordan Stotts | 2016 - Ryan Biegger | 2017 - Ryan Biegger
    </p>

    <div class="bootWinnerLayout">
        <div class="bootWinnerCard">
            <div class="bootWinnerTitle">
                <h3>@bootWinner[0].Name</h3>
                <p>@bootWinner[0].Course</p>
                <p>@bootWinner[0].Year</p>
            </div>
            <img class="bootWinnerPic" src="~/flagsitepics/theflag_2018boot.jpg" />
        </div>

        <br />

        <div class="bootWinnerCard">
            <div class="bootWinnerTitle">
                <h3>@bootWinner[1].Name</h3>
                <p>@bootWinner[1].Course</p>
                <p>@bootWinner[1].Year</p>
            </div>
            <img class="bootWinnerPic" src="~/flagsitepics/theflag_2019boot.jpg" />
        </div>

        <br />

        <div class="bootWinnerCard">
            <div class="bootWinnerTitle">
                <h3>@bootWinner[2].Name</h3>
                <p>@bootWinner[2].Course</p>
                <p>@bootWinner[2].Year</p>
            </div>
            <img class="bootWinnerPic" src="~/flagsitepics/theflag_2020boot.jpg" />
        </div>

        <br />

        <div class="bootWinnerCard">
            <div class="bootWinnerTitle">
                <h3>@bootWinner[3].Name</h3>
                <p>@bootWinner[3].Course</p>
                <p>@bootWinner[3].Year</p>
            </div>
            <img class="bootWinnerPic" src="~/flagsitepics/theflag_2021boot.jpg" />
        </div>

        <br />

        <div class="bootWinnerCard">
            <div class="bootWinnerTitle">
                <h3>@bootWinner[4].Name</h3>
                <p>@bootWinner[4].Course</p>
                <p>@bootWinner[4].Year</p>
            </div>
            <img class="bootWinnerPic" src="~/flagsitepics/theflag_2022boot.jpg" />
        </div>
    </div>
</div>