@page
@model WheresMyBallTourney.Pages.InsightToNextYearModel
@{
}

@* NOTES
   - create form with drop down menu that lets people submit picks for flag/boot winners
   - figure out how to save each pick ... connect to a database (SQLlite)
   - show results in some type of graph
*@




<div class="predictionPage">
    <SiteNavBar />
    <h1 class="predictionsHeader">Insight To Next Year</h1>
    <h4>Make your predictions below!</h4>
    <div class="predictionLayout">
        <div class="ourPredictions">
            <p id="predictionName">Austin's prediction:</p>
            <div>
                <p id="prediction">Boot: Jordan</p>
                <p id="prediction">2nd: Derrick</p>
                <p id="prediction">3rd: Ryan</p>
                <p id="prediction">4th: Grant</p>
                <p id="prediction">5th: Connor</p>
                <p id="prediction">Flag: Austin</p>
            </div>
        </div>
        <div class="ourPredictions">
            <p id="predictionName">Connor's prediction:</p>
            <div>
                <p id="prediction">Boot: Jordan</p>
                <p id="prediction">2nd: Ryan</p>
                <p id="prediction">3rd: Austin</p>
                <p id="prediction">4th: Grant</p>
                <p id="prediction">5th: Derrick</p>
                <p id="prediction">Flag: Connor</p>
            </div>
        </div>
        <div class="ourPredictions">
            <p id="predictionName">Derrick's prediction:</p>
            <div>
                <p id="prediction">Boot: Jordan</p>
                <p id="prediction">2nd: Grant</p>
                <p id="prediction">3rd: Ryan</p>
                <p id="prediction">4th: Austin</p>
                <p id="prediction">5th: Connor</p>
                <p id="prediction">Flag: Derrick</p>
            </div>
        </div>
        <div class="ourPredictions">
            <p id="predictionName">Grant's prediction:</p>
            <div>
                <p id="prediction">Boot: Austin</p>
                <p id="prediction">2nd: Grant</p>
                <p id="prediction">3rd: Ryan</p>
                <p id="prediction">4th: Connor</p>
                <p id="prediction">5th: Derrick</p>
                <p id="prediction">Flag: Jordan</p>
            </div>
        </div>
        <div class="ourPredictions">
            <p id="predictionName">Jordan's prediction:</p>
            <div>
                <p id="prediction">Boot: Jordan</p>
                <p id="prediction">2nd: Austin</p>
                <p id="prediction">3rd: Derrick</p>
                <p id="prediction">4th: Ryan</p>
                <p id="prediction">5th: Grant</p>
                <p id="prediction">Flag: Connor</p>
            </div>
        </div>
        <div class="ourPredictions">
            <p id="predictionName">Ryan's prediction:</p>
            <div>
                <p id="prediction">Boot: Austin</p>
                <p id="prediction">2nd: Grant</p>
                <p id="prediction">3rd: Ryan</p>
                <p id="prediction">4th: Jordan</p>
                <p id="prediction">5th: Connor</p>
                <p id="prediction">Flag: Derrick</p>
            </div>
        </div>
    </div>


    <h3>The public's predictions</h3>
    <a class="btn btn-primary btn-sm" href="/NewPrediction">New Prediction</a>
    <table class="table">
        <thead>
            <tr>
                @*<th>ID</th>*@
                <th>Boot</th>
                <th>2nd Place</th>
                <th>3rd Place</th>
                <th>4th Place</th>
                <th>5th Place</th>
                <th>Flag</th>
                <th>Created At</th>
                @*<th>Action</th>*@
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model.predictionsList)
            {
                <tr>
                    @*<td>@item.id</td>*@
                    <td>@item.boot</td>
                    <td>@item.playerTwo</td>
                    <td>@item.playerThree</td>
                    <td>@item.playerFour</td>
                    <td>@item.playerFive</td>
                    <td>@item.flag</td>
                    <td>@item.created_at</td>
                    @*<td>**not sure if i want an edit or delete action here**</td>*@
                </tr>
            }
        </tbody>
    </table>


</div>
