@page
@model WheresMyBallTourney.Pages.InsightToNextYearModel
@{
}

@* NOTES
   - show results in some type of graph
*@




<div class="predictionPage">
    <SiteNavBar />
    <h1 class="predictionsHeader">Insight To Next Year</h1>
    <div class="courseInsight">
        <h5>The 11th annual "Where's My Ball" tournament will be held at Payne's Valley, Tiger Woods' golf course in Hollister, MO</h5>
        <h5>Check out the course here: <a href="https://bigcedar.com/golf/paynes-valley-course/">Payne's Valley</a></h5>
    </div>
    @*<h4 class="insightSubTitle">Make your predictions below!</h4>*@
    <div class="predictionLayout">
        <div class="ourPredictions">
            <p id="predictionName">Austin's prediction:</p>     @* updated for 2023*@
            <div>
                <p id="prediction">Boot: Austin</p>
                <p id="prediction">2nd: Connor</p>
                <p id="prediction">3rd: Ryan</p>
                <p id="prediction">4th: Derrick</p>
                <p id="prediction">5th: Jordan</p>
                <p id="prediction">Flag: Grant</p>
            </div>
        </div>
        <div class="ourPredictions">
            <p id="predictionName">Connor's prediction:</p>      @* updated for 2023*@
            <div>
                <p id="prediction">Boot: Connor</p>
                <p id="prediction">2nd: Austin</p>
                <p id="prediction">3rd: Ryan</p>
                <p id="prediction">4th: Jordan</p>
                <p id="prediction">5th: Derrick</p>
                <p id="prediction">Flag: Grant</p>
            </div>
        </div>
        <div class="ourPredictions">
            <p id="predictionName">Derrick's prediction:</p>        @* updated for 2023*@
            <div>
                <p id="prediction">Boot: Jordan</p>
                <p id="prediction">2nd: Austin</p>
                <p id="prediction">3rd: Derrick</p>
                <p id="prediction">4th: Connor</p>
                <p id="prediction">5th: Grant</p>
                <p id="prediction">Flag: Ryan</p>
            </div>
        </div>
        <div class="ourPredictions">
            <p id="predictionName">Grant's prediction:</p>     @* updated for 2023*@
            <div>
                <p id="prediction">Boot: Austin</p>
                <p id="prediction">2nd: Connor</p>
                <p id="prediction">3rd: Grant</p>
                <p id="prediction">4th: Derrick</p>
                <p id="prediction">5th: Jordan</p>
                <p id="prediction">Flag: Ryan</p>
            </div>
        </div>
        <div class="ourPredictions">
            <p id="predictionName">Jordan's prediction:</p>     @* updated for 2023*@
            <div>
                <p id="prediction">Boot: Jordan</p>
                <p id="prediction">2nd: Ryan</p>
                <p id="prediction">3rd: Austin</p>
                <p id="prediction">4th: Derrick</p>
                <p id="prediction">5th: Connor</p>
                <p id="prediction">Flag: Grant</p>
            </div>
        </div>
        <div class="ourPredictions">
            <p id="predictionName">Ryan's prediction:</p>        @* updated for 2023*@
            <div>
                <p id="prediction">Boot: Austin</p>
                <p id="prediction">2nd: Jordan</p>
                <p id="prediction">3rd: Connor</p>
                <p id="prediction">4th: Ryan</p>
                <p id="prediction">5th: Grant</p>
                <p id="prediction">Flag: Derrick</p>
            </div>
        </div>
    </div>

    @*<div class="publicPredictionSection">
        <h3 class="predictionTableHeader">The public's predictions for 2023 at Payne's Valley</h3>
        <a id="newPredictionBtn" class="btn btn-primary btn-sm" href="/NewPrediction">New Prediction</a>
        <table class="table">
            <thead id="tableHead">
                <tr>
                    <th>Boot</th>
                    <th>2nd Place</th>
                    <th>3rd Place</th>
                    <th>4th Place</th>
                    <th>5th Place</th>
                    <th>Flag</th>
                    <th>Created At</th>
                </tr>
            </thead>
            <tbody id="tableBody">
                @foreach (var item in Model.predictionsList)
                {
                    <tr>
                        <td>@item.boot</td>
                        <td>@item.playerTwo</td>
                        <td>@item.playerThree</td>
                        <td>@item.playerFour</td>
                        <td>@item.playerFive</td>
                        <td>@item.flag</td>
                        <td>@item.created_at</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>*@

</div>
