@page
@model WebApplication1.Pages.PlayerBiosModel
@{
    PlayerBiosModel[] player = new PlayerBiosModel[6];
    player[0] = new PlayerBiosModel { Name = "Jordan Stotts", Twitter = "https://twitter.com/JordanStotts15", IG = "https://www.instagram.com/jordanstotts15/", Facebook = "https://www.facebook.com/jordan.stotts", Age = 29, Occupation = "Software Developer", AlmaMater = "University of Sioux Falls", FlagYears = "0", Handicap = 12.2, BootYears = "2014 | 2015" };
    player[1] = new PlayerBiosModel { Name = "Derrick Wiley", Twitter = "https://twitter.com/ddubthekid", IG = "https://www.instagram.com/derrickwiley_/", Facebook = "https://www.facebook.com/derrick.wiley.104", Age = 28, Occupation = "Senior UX Engineer", AlmaMater = "Iowa State University", FlagYears = "2014 | 2016 | 2020 | 2021", Handicap = 19.5, BootYears = "2022" };
    player[2] = new PlayerBiosModel { Name = "Ryan Biegger", Twitter = "https://twitter.com/BieggerIsBetter", IG = "https://www.instagram.com/ryan_biegger/", Facebook = "https://www.facebook.com/ryan.biegger", Age = 28, Occupation = "CPA | Senior Associate at Embark", AlmaMater = "University of Northern Iowa", FlagYears = "2018 | 2019", Handicap = 13.1, BootYears = "2013 | 2016 | 2017" };
    player[3] = new PlayerBiosModel { Name = "Grant Luther", Twitter = "https://twitter.com/GrantLuther12", IG = "https://www.instagram.com/grantluther12/", Facebook = "https://www.facebook.com/grant.luther.92", Age = 29, Occupation = "Beach Bum", AlmaMater = "Iowa State University", FlagYears = "2013 | 2015", Handicap = 2.6, BootYears = "2018 | 2019 | 2020 | 2021" };
    player[4] = new PlayerBiosModel { Name = "Connor Girkin", Twitter = "https://twitter.com/GirkinOffIsFun", IG = "https://www.instagram.com/cgirkin/", Facebook = "https://www.facebook.com/connor.girkin", Age = 28, Occupation = "Sales Consultant at Willis Auto", AlmaMater = "University of Iowa", FlagYears = "2017 | 2022", Handicap = 10.3, BootYears = "0" };
    player[5] = new PlayerBiosModel { Name = "Austin Howe", Twitter = "https://twitter.com/AustinKnowsHowe", IG = "https://www.instagram.com/austinhowe2/", Facebook = "https://www.facebook.com/profile.php?id=1816414823", Age = 29, Occupation = "CPA | Int'l Tax Senior Assoc. at RSM", AlmaMater = "University of Iowa", FlagYears = "0", Handicap = 0.1, BootYears = "0" };

}

@* NOTES
   -
*@

<div class="playerBioPage">
    <div class="playerBioLayout">
        <h1 class="playerBioHeader">Player Bios</h1>
        <div class="bio">

            <div class="playerCards">
                <h1 class="bioPlayerName">@player[0].Name</h1>
                <img class="bioPic" src="~/flagsitepics/theflag_jordanbio.jpg" />
                <div class="socials">
                    <a href="@player[0].Twitter">  <img class="socialIcon" src="~/socialicons/twitter_logo.png" alt="twitter" /></a>
                    <a href="@player[0].IG"> <img class="socialIcon" src="~/socialicons/instagram_logo.png" alt="instagram" /></a>
                    <a href="@player[0].Facebook"> <img class="socialIcon" src="~/socialicons/facebook_logo.png" alt="facebook" /></a>
                </div>
                <div class="bioInfo">
                    <p class="playerInfo"><strong>Age:</strong> <div class="bioListDetail">@player[0].Age</div></p>
                    <p class="playerInfo"><strong>Occupation: </strong> <div class="bioListDetail">@player[0].Occupation</div></p>
                    <p class="playerInfo"><strong>Alma Mater: </strong><div class="bioListDetail">@player[0].AlmaMater</div></p>
                    <p class="playerInfo"><strong>Flag Years: </strong><div class="bioListDetail">@player[0].FlagYears</div></p>
                    <p class="playerInfo"><strong>Handicap: </strong><div class="bioListDetail">@player[0].Handicap</div></p>
                    <p class="playerInfo"><strong>Boot Years: </strong><div class="bioListDetail">@player[0].BootYears</div></p>
                </div>
            </div>

            <br />

            <div class="playerCards">
                <h1 class="bioPlayerName">@player[1].Name</h1>
                <img class="bioPic" src="~/flagsitepics/theflag_derrickbio.jpg" />
                <div class="socials">
                    <a href="@player[1].Twitter"> <img class="socialIcon" src="~/socialicons/twitter_logo.png" alt="twitter" /></a>
                    <a href="@player[1].IG"> <img class="socialIcon" src="~/socialicons/instagram_logo.png" alt="instagram" /></a>
                    <a href="@player[1].Facebook"> <img class="socialIcon" src="~/socialicons/facebook_logo.png" alt="facebook" /></a>
                </div>
                <div class="bioInfo">
                    <p class="playerInfo"><strong>Age:</strong> <div class="bioListDetail">@player[1].Age</div></p>
                    <p class="playerInfo"><strong>Occupation: </strong> <div class="bioListDetail">@player[1].Occupation</div></p>
                    <p class="playerInfo"><strong>Alma Mater: </strong><div class="bioListDetail">@player[1].AlmaMater</div></p>
                    <p class="playerInfo"><strong>Flag Years: </strong><div class="bioListDetail">@player[1].FlagYears</div></p>
                    <p class="playerInfo"><strong>Handicap: </strong><div class="bioListDetail">@player[1].Handicap</div></p>
                    <p class="playerInfo"><strong>Boot Years: </strong><div class="bioListDetail">@player[1].BootYears</div></p>
                </div>
            </div>

            <br />

            <div class="playerCards">
                <h1 class="bioPlayerName">@player[2].Name</h1>
                <img class="bioPic" src="~/flagsitepics/theflag_ryanbio2.jpg" />
                <div class="socials">
                    <a href="@player[2].Twitter"> <img class="socialIcon" src="~/socialicons/twitter_logo.png" alt="twitter" /></a>
                    <a href="@player[2].IG"> <img class="socialIcon" src="~/socialicons/instagram_logo.png" alt="instagram" /></a>
                    <a href="@player[2].Facebook"> <img class="socialIcon" src="~/socialicons/facebook_logo.png" alt="facebook" /></a>
                </div>
                <div class="bioInfo">
                    <p class="playerInfo"><strong>Age:</strong> <div class="bioListDetail">@player[2].Age</div></p>
                    <p class="playerInfo"><strong>Occupation: </strong> <div class="bioListDetail">@player[2].Occupation</div></p>
                    <p class="playerInfo"><strong>Alma Mater: </strong><div class="bioListDetail">@player[2].AlmaMater</div></p>
                    <p class="playerInfo"><strong>Flag Years: </strong><div class="bioListDetail">@player[2].FlagYears</div></p>
                    <p class="playerInfo"><strong>Handicap: </strong><div class="bioListDetail">@player[2].Handicap</div></p>
                    <p class="playerInfo"><strong>Boot Years: </strong><div class="bioListDetail">@player[2].BootYears</div></p>
                </div>
            </div>

            <br />

            <div class="playerCards">
                <h1 class="bioPlayerName">@player[3].Name</h1>
                <img class="bioPic" src="~/flagsitepics/theflag_grantbio.jpg" />
                <div class="socials">
                    <a href="@player[3].Twitter"> <img class="socialIcon" src="~/socialicons/twitter_logo.png" alt="twitter" /></a>
                    <a href="@player[3].IG"> <img class="socialIcon" src="~/socialicons/instagram_logo.png" alt="instagram" /></a>
                    <a href="@player[3].Facebook"> <img class="socialIcon" src="~/socialicons/facebook_logo.png" alt="facebook" /></a>
                </div>
                <div class="bioInfo">
                    <p class="playerInfo"><strong>Age:</strong> <div class="bioListDetail">@player[3].Age</div></p>
                    <p class="playerInfo"><strong>Occupation: </strong> <div class="bioListDetail">@player[3].Occupation</div></p>
                    <p class="playerInfo"><strong>Alma Mater: </strong><div class="bioListDetail">@player[3].AlmaMater</div></p>
                    <p class="playerInfo"><strong>Flag Years: </strong><div class="bioListDetail">@player[3].FlagYears</div></p>
                    <p class="playerInfo"><strong>Handicap: </strong><div class="bioListDetail">@player[3].Handicap</div></p>
                    <p class="playerInfo"><strong>Boot Years: </strong><div class="bioListDetail">@player[3].BootYears</div></p>
                </div>
            </div>

            <br />

            <div class="playerCards">
                <h1 class="bioPlayerName">@player[4].Name</h1>
                <img class="bioPic" src="~/flagsitepics/theflag_connorbio.jpg" />
                <div class="socials">
                    <a href="@player[4].Twitter"> <img class="socialIcon" src="~/socialicons/twitter_logo.png" alt="twitter" /></a>
                    <a href="@player[4].IG"> <img class="socialIcon" src="~/socialicons/instagram_logo.png" alt="instagram" /></a>
                    <a href="@player[4].Facebook"> <img class="socialIcon" src="~/socialicons/facebook_logo.png" alt="facebook" /></a>
                </div>
                <div class="bioInfo">
                    <p class="playerInfo"><strong>Age:</strong> <div class="bioListDetail">@player[4].Age</div></p>
                    <p class="playerInfo"><strong>Occupation: </strong> <div class="bioListDetail">@player[4].Occupation</div></p>
                    <p class="playerInfo"><strong>Alma Mater: </strong><div class="bioListDetail">@player[4].AlmaMater</div></p>
                    <p class="playerInfo"><strong>Flag Years: </strong><div class="bioListDetail">@player[4].FlagYears</div></p>
                    <p class="playerInfo"><strong>Handicap: </strong><div class="bioListDetail">@player[4].Handicap</div></p>
                    <p class="playerInfo"><strong>Boot Years: </strong><div class="bioListDetail">@player[4].BootYears</div></p>
                </div>
            </div>

            <br />

            <div class="playerCards">
                <h1 class="bioPlayerName">@player[5].Name</h1>
                <img class="bioPic" src="~/flagsitepics/theflag_austinbio.jpg" />
                <div class="socials">
                    <a href="@player[5].Twitter"> <img class="socialIcon" src="~/socialicons/twitter_logo.png" alt="twitter" /></a>
                    <a href="@player[5].IG"> <img class="socialIcon" src="~/socialicons/instagram_logo.png" alt="instagram" /></a>
                    <a href="@player[5].Facebook"> <img class="socialIcon" src="~/socialicons/facebook_logo.png" alt="facebook" /></a>
                </div>
                <div class="bioInfo">
                    <p class="playerInfo"><strong>Age:</strong> <div class="bioListDetail">@player[5].Age</div></p>
                    <p class="playerInfo"><strong>Occupation: </strong> <div class="bioListDetail">@player[5].Occupation</div></p>
                    <p class="playerInfo"><strong>Alma Mater: </strong><div class="bioListDetail">@player[5].AlmaMater</div></p>
                    <p class="playerInfo"><strong>Flag Years: </strong><div class="bioListDetail">@player[5].FlagYears</div></p>
                    <p class="playerInfo"><strong>Handicap: </strong><div class="bioListDetail">@player[5].Handicap</div></p>
                    <p class="playerInfo"><strong>Boot Years: </strong><div class="bioListDetail">@player[5].BootYears</div></p>
                </div>
            </div>
        </div>
    </div>
</div>
@*<body>
    <h1>Who will win the boot this year?</h1>
    <form method="post" action="simpleform.asp">
        <select>
            <option name="player">Jordan</option>
            <option name="player">Grant</option>
            <option name="player">Ryan</option>
            <option name="player">Austin</option>
            <option name="player">Derrick</option>
            <option name="player">Connor</option>
        </select>
        <input type="submit" value="Submit" />
    </form>

</body>*@
